Service References/ServiceMobile/ServiceMobile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Push">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="receiverId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PushResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PushResult" type="tns:PackageOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PackageOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Exception" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:PackageOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PackageOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Exception" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="tns:PackageOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PackageOfBoolean" nillable="true" type="tns:PackageOfBoolean" />
      <s:element name="PackageOfString" nillable="true" type="tns:PackageOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PushSoapIn">
    <wsdl:part name="parameters" element="tns:Push" />
  </wsdl:message>
  <wsdl:message name="PushSoapOut">
    <wsdl:part name="parameters" element="tns:PushResponse" />
  </wsdl:message>
  <wsdl:message name="PushAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="PushHttpGetIn">
    <wsdl:part name="receiverId" type="s:string" />
    <wsdl:part name="senderId" type="s:string" />
    <wsdl:part name="appName" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="param" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PushHttpGetOut">
    <wsdl:part name="Body" element="tns:PackageOfBoolean" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="appName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:PackageOfString" />
  </wsdl:message>
  <wsdl:message name="RegisterHttpGetIn">
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="password1" type="s:string" />
    <wsdl:part name="password2" type="s:string" />
    <wsdl:part name="appName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterHttpGetOut">
    <wsdl:part name="Body" element="tns:PackageOfString" />
  </wsdl:message>
  <wsdl:message name="PushHttpPostIn">
    <wsdl:part name="receiverId" type="s:string" />
    <wsdl:part name="senderId" type="s:string" />
    <wsdl:part name="appName" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="param" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PushHttpPostOut">
    <wsdl:part name="Body" element="tns:PackageOfBoolean" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="appName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:PackageOfString" />
  </wsdl:message>
  <wsdl:message name="RegisterHttpPostIn">
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="password1" type="s:string" />
    <wsdl:part name="password2" type="s:string" />
    <wsdl:part name="appName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterHttpPostOut">
    <wsdl:part name="Body" element="tns:PackageOfString" />
  </wsdl:message>
  <wsdl:portType name="ServiceMobileSoap">
    <wsdl:operation name="Push">
      <wsdl:input message="tns:PushSoapIn" />
      <wsdl:output message="tns:PushSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceMobileHttpGet">
    <wsdl:operation name="Push">
      <wsdl:input message="tns:PushHttpGetIn" />
      <wsdl:output message="tns:PushHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterHttpGetIn" />
      <wsdl:output message="tns:RegisterHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceMobileHttpPost">
    <wsdl:operation name="Push">
      <wsdl:input message="tns:PushHttpPostIn" />
      <wsdl:output message="tns:PushHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterHttpPostIn" />
      <wsdl:output message="tns:RegisterHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceMobileSoap" type="tns:ServiceMobileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Push">
      <soap:operation soapAction="http://tempuri.org/Push" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PushAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LoginAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RegisterAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceMobileSoap12" type="tns:ServiceMobileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Push">
      <soap12:operation soapAction="http://tempuri.org/Push" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PushAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LoginAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RegisterAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceMobileHttpGet" type="tns:ServiceMobileHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Push">
      <http:operation location="/Push" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <http:operation location="/Register" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceMobileHttpPost" type="tns:ServiceMobileHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Push">
      <http:operation location="/Push" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <http:operation location="/Register" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMobile">
    <wsdl:port name="ServiceMobileSoap" binding="tns:ServiceMobileSoap">
      <soap:address location="http://218.92.115.55/M_Platform/ServiceMobile.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceMobileSoap12" binding="tns:ServiceMobileSoap12">
      <soap12:address location="http://218.92.115.55/M_Platform/ServiceMobile.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceMobileHttpGet" binding="tns:ServiceMobileHttpGet">
      <http:address location="http://218.92.115.55/M_Platform/ServiceMobile.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceMobileHttpPost" binding="tns:ServiceMobileHttpPost">
      <http:address location="http://218.92.115.55/M_Platform/ServiceMobile.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>